@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;

}
body{
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  background: #bfbfbf;
}

/* Header/Blog Title */
.header {
  padding: 50px;
  text-align: center;
  background: #8aa6a3;
  border: 1px solid #000000;
  }
  

.container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

.item {
  height: 400px;
}

/* RIDGEFIELD H1 HEADING AND SHADOW */
.header h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: #f9f7f0;
  letter-spacing: 4px;
  text-shadow: 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, 2px 2px 4px #4c5958;
  }
  
.header p {
font-weight:900;
font-size: 25px;
}

/* STYLING FOR H2 HEADINGS */
/* STYLING FOR H2 HEADINGS */
h2 {
  color: #000000;
  font-weight:900;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}

/* SPACE IN BETWEEN H1 WRITTING ON TITLE */
#big {
line-height: 1.8em;
}

/* TOP NAV STYLE */
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  padding: 5px 0px 5px 0px;
  border: 1px solid #000000;
  }
  
  /* STYLE THE TOP NAV LINKS */
  .topnav a {
  float: left;
  font-size: large;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px dotted #000000;
  }

/* CHANGE COLOUR ON HOVER */
.topnav a:hover {
background-color: #E69C95;
color: #f9f7f0;
}

/* FIRST ROW */
/* BANNER ROW - TALKING ABOUT RIDGEFIELD */
.row-box-banner {
  font-size: large;
  padding: 60px;
 
  text-align: center;
  background-color: #ffffff;
}

/* BOX BACKGROUNDS */
.row-box {
  font-size: large;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
}

.banner {
  float: right;
  width: 100%;
  padding: 10px
}

.banner p{
  text-align: center;
}

/* SECOND ROW */
/* FACILITIES BOX AND EQUIPMENT BOX */
#facilities-box { /* text style of paragraph */
  font-size: large;
  padding: 15px 0 20px 0;
  text-align: center;
}

#facilities-box-two p {
  font-size: large;
  padding: 15px 0 20px 0;
  text-align: center;
}


/* size of image in box 
.strong-image { 
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */


.row-two-left {  
  float: left;
  width: 50%;
  padding: 10px;
}

.row-two-right {
  float: left;
  width: 50%;
  border: 0;
  padding: 10px;
  
}

/* SIGN IN PAGE */
/* SIGN IN BOXES */
#createaccount-box {
  padding: 10px;
  margin: 5;
  color: #f9f7f0;
  font-size: large;
  letter-spacing: 4px;
  background-color: #4C5958;
  text-transform: uppercase;
}

/* INPUT TEXT BOX FOR THE WRITTING */
#createaccount-box input {
  color: #000000;
  font-size: large;
  font-weight: 400;
  padding: 4px 0 4px 4px;
  letter-spacing: 4px;
  background-color: #bfbfbf;
}

/* THIRD ROW */
/* MAP BOX */
.map {
  overflow: hidden;
  width: 100%;
  height: 400px;
}


/* FOURTH ROW */
/* OPENING HOURS AND CONTACT US */
.row-four-left {
  float: left;
  width: 50%;
  padding: 10;
}

.row-four-left p {
  font-size: large;
}

.row-four-right {
  float: right;
  width: 50%;
  padding: 10px;
}

address {
  letter-spacing: 2px;
  margin-bottom: 32px;
}

.contact-icons {
  display: block;
  float: right;
}

/* FORTH ROW */
/* EMAIL AND CONTACT INFO */
#contact-box, #contact-box-left {
  color: 000000;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}


#hours-left {
  float: left;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: large;
}

#hours-right {
 float: right;
 letter-spacing: 4px;
 font-size: large;
}


/*
#contact-box-table tr th {
  padding: 8px;
  text-align: left;
  border: 0;
}
 TABLE DATA OPENING HOURS 
#contact-box-left {
  color: 000000;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

#contact-box-table {
  border-collapse: collapse;
  width: 100%;
  padding: 8px;
}














/* FORTH ROW */
/* BANNER IMAGE BACKGROUND OF WEIGHTS */
.banner-image {
  background-image: url('/assets/images/dumbbell.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

/* FIFTH ROW */
/* TWO BOXES FOR MEMBERSHIP OPTIONS */

#membership-box, #box-left {
  padding: 10px;
  margin: 5;
  color: #f9f7f0;
  background-color: #4C5958;
  text-align: center;
}

/*
#fullaccess {
  padding: 10px;
  margin: 5;
  color: #f9f7f0;
  background-color: #4C5958;
  text-align: center;
}

/* BUTTON STYLES FOR ALL LINK OPTIONS */

.button1 {background-color: #E69C95;}
.button2 {background-color: #E69C95;}
.button1:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
.button2:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}

.button {
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* STYLING FOR H2 HEADINGS */
/* BACKGROUND TO THE OPENING TIMES AND CONTACT INFO */
.fakeimg {
  background-color: #8AA6A3;
  width: 100%;
  padding: 20px;
}

.scrollmenu tbody:hover {
  background-color: #E69C95;
}

/* TIMETABLE PAGE */
/* TIMETABLE TABLE LAYOUT */
table {
    border-spacing: 0px;
    width: 100%;
}

th, td {
    padding: 10px 30px 10px 10px;
    border-spacing: 0px;
    font-size: 100%;
    margin: 0px;
}

th, td {
    text-align: left;
    background-color: #bfbfbf;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}

tr .head, th {
    color: #ffffff;
    background-color: #4c5958;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    text-align: center;
    letter-spacing: 0.15em;
}

td {
    color: #000000;
}

tr .even td, tr .even th {
    background-color: #e8eff5;
}

tr .head th:first-child {
    border-top-left-radius: 5px;
}

tr .head th:last-child {
    border-top-right-radius: 5px;
}

/* TIMETABLE PAGE - SCROLL BAR UNDER TABLE */
.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu table {
  text-align: center;
  padding-bottom: 14px;
  text-decoration: none;
  border-spacing: 0px;
  width: 100%;
  height: auto;
}

/* GALLERY */
/* GALLERY */
.gallery {
  border: 10px solid white;
}

.gallery, img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: white;
}













.desc {
  padding: 20px 15px 10px 15px;
  text-align: center;
  font-size: large;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 4000px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 800px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.row-box:after {
  content: "";
  display: table;
  clear: both;
}


/* SIGN-UP PAGE */
/* PHOTO BANNER ON SIGN UP PAGE*/
.signin-banner {
  margin-top: 5px;
  padding: 5px;
  background-color: #f9f7f0;
}

/* TWO BOXES FOR SIGN-IN */

.free-banner {
  margin: 3px;
  padding-top: 0;
  background-color: 717171;
}

.free-banner-box {
  background-color: #f9f7f0;
  padding: 10px 0 0 0;
  font-size: large;
}


/* MEDIA QUERIES */
/* MEDIA QUERIES */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .row-two-left, .row-two-right, .row-four-left, .row-four-right {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* Close the Ridgefield Fitness h1 and p 'big' gap - Responsive layout - when the screen is less than 450px wide*/
@media screen and (max-width: 800px) {
  #big {
    line-height: 1.2em;
  }
}


/* GALLERY IMAGES ON TIMETABLE PAGE */
/* Responsive layout - make both boxes stay next to each other and not go into 4 photos on line */
@media only screen and (max-width: 4000px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
/* Responsive layout - when the screen is less than 800px wide, make the two photos stack on top of each other instead of next to each other */
@media only screen and (max-width: 800px) {
  .responsive {
    width: 100%;
  }
}