@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;

}
body{
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  background: #bfbfbf;
}

/* Header/Blog Title */
.header {
  padding: 50px;
  text-align: center;
  background: #8aa6a3;
  border: 1px solid #000000;
  }
  
.container {
  position: relative;
  margin: auto;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.item {
  max-height: 600px;
}



/* RIDGEFIELD H1 HEADING AND SHADOW */
.header h1 {
  font-size: 5vw;
  text-transform: uppercase;
  color: #f9f7f0;
  letter-spacing: 4px;
  text-shadow: 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, 2px 2px 4px #4c5958;
  }
  
.header p {
font-weight:900;
font-size: 2vw;
}

/* STYLING FOR H2 HEADINGS */
/* STYLING FOR H2 HEADINGS */
h2 {
  color: #000000;
  font-weight:900;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}

/* SPACE IN BETWEEN H1 WRITTING ON TITLE */
#big {
line-height: 1.8em;
}

/* TOP NAV STYLE */
#menu {
  font-size: initial;
  list-style-type: none;
  letter-spacing: 2px;
  line-height: 55px;
}
#menu li {
  float: left;
}
#menu a {
  text-decoration: none;
  color: inherit;
}
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #000000;
  }
  
  /* STYLE THE TOP NAV LINKS */
  .topnav a {
    display: block;
    color: #000000;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px dotted #000000;
  }

/* CHANGE COLOUR ON HOVER */
.topnav a:hover {
  border-bottom: 3px solid #E69C95
}
/* COLOUR BLOCK STAYS ON HOME TAB */
.active-menu {
  border-bottom: 3px solid #E69C95;
}
/* EMAIL LINK COLOUR */
a {
  color:#000000;
}

/* FIRST ROW */
/* BANNER ROW - TALKING ABOUT RIDGEFIELD */
.row-box-banner {
  font-size: large;
  padding: 15px 50px 15px 50px;
  text-align: center;
  background-color: #ffffff;
}
/* BOX BACKGROUNDS */
.row-box {
  font-size: large;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
}
.banner {
  float: right;
  width: 100%;
  padding: 10px
}
.community-icons {
  display: block;
}
/* banner under carousel */
#information-banner {
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
}

.banner p{
  text-align: center;
}

/* Banner images for all pages */
/* BANNER IMAGES */
.page-image-banner {
  border: 5px solid white;
  margin-top: 10px;
}
.page-image-banner img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

/* SECOND ROW */
/* FACILITIES BOX AND EQUIPMENT BOX */
#facilities-box { /* text style of paragraph */
  font-size: large;
  padding: 15px 0 20px 0;
  text-align: center;
}
#facilities-box-two p {
  font-size: large;
  padding: 15px 0 20px 0;
  text-align: center;
}
#facilities {
  float: left;
  width: 50%;
  padding: 0 5px 0 0;
}
#equipment {
  float: left;
  width: 50%;
  border: 0;
  padding: 0 0 0 5px;
}

/* SIGN IN PAGE */
/* CREATE ACCOUNT BOX */
#createaccount-box, #login-box {
  padding: 10px;
  margin: 5;
  font-size: large;
  letter-spacing: 4px;
  width: 100%;
  background-color: rgba(138, 166, 163, .2);
  text-transform: uppercase;
}

/* INPUT TEXT BOX FOR THE WRITTING */
#createaccount-box input {
  color: #000000;
  font-size: large;
  font-weight: 400;
  padding: 4px 0 4px 4px;
  letter-spacing: 4px;
  width: 50%;
}

#login-box input {
  color: #000000;
  font-size: large;
  font-weight: 400;
  padding: 4px 0 4px 4px;
  letter-spacing: 4px;
  width: 50%;
}

label, #username {
  padding: 10px 10px 5px 0;
}
/* INPUT TEXT BOX FOR THE WRITTING */
#signup-pages-left, #signup-pages-right {
  width: 50%;
  float: left;
  margin: auto;
}
#signup-pages-left {
  padding-right: 5px;
}
#signup-pages-right {
  padding-left: 5px;
}

/* THIRD ROW */
/* MAP BOX */
#map-banner {
  float: right;
  width: 100%;
  padding: 0;
}

.map {
  overflow: hidden;
  width: 100%;
  height: 400px;
}

/* FOURTH ROW */
/* OPENING HOURS AND CONTACT US */
.row-four-left {
  float: left;
  width: 50%;
  padding: 10;
}
.row-four-left p {
  font-size: large;
}
.row-four-right {
  float: right;
  width: 50%;
  padding: 10px;
}
address {
  letter-spacing: 2px;
  margin-bottom: 32px;
}
.contact-icons {
  display: block;
  float: right;
  color: #4c5958;
}
/* account benefits information and icons */
.ticktwo {
  vertical-align: middle;
  color: #4c5958;
}
.benefits-box {
  text-transform: capitalize;
}
.benefits-box, h2 {
  padding: 5px;
}
.benefits-box, i {
  display: inline-block;
  text-align: left;
}
.benefits-box, p {
  display: inline-block;
  font-style: none;
  letter-spacing: 0;
}

/* FORTH ROW */
/* EMAIL AND CONTACT INFO */
#hours {
  float: right;
  width: 50%;
  padding: 0 0 0 5px;
}
#contactus {
  float: right;
  width: 50%;
  padding: 0 5px 0 0;
}
#contact-box, #contact-box-left {
  color: 000000;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.fakeimg, #hours-left {
  float: left;
  text-transform: uppercase;
  list-style-type: none;
  letter-spacing: 4px;
  font-size: large;
  line-height: 222%;
}

.fakeimg, #hours-right {
 float: right;
 letter-spacing: 4px;
 list-style-type: none;
 font-size: large;
 line-height: 222%;
}

/* FORTH ROW */
/* BANNER IMAGE BACKGROUND OF WEIGHTS */
#classes-banner {
  float: right;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ffffff;
}

.banner-image {
  background-image: url('/assets/images/dumbbell.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  padding: 60px;
}

#fade-box {
  text-transform: uppercase;
  padding: 5px 2px 5px 2px;
  letter-spacing: 3px;
  background-color: rgba(180, 180, 180, .8);
}

/* FIFTH ROW */
/* TWO BOXES FOR MEMBERSHIP OPTIONS */
#membership-free {
  float: left;
  width: 50%;
  padding: 0 5px 0 0;
}

#membership-full {
  float: left;
  width: 50%;
  padding: 0 0 0 5px;
}

#membership-box, #box-left {
  padding: 10px;
  margin: 5;
  color: #f9f7f0;
  background-color: rgba(76, 89, 88, .8);
  text-align: center;
}

/* BUTTON STYLES FOR ALL LINK OPTIONS */
.button1 {background-color: #E69C95;}
.button2 {background-color: #E69C95;}
.button1:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
.button2:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}

.button {
  border: none;
  padding: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  color: #000000;
  height: auto;
  width: 50%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* STYLING FOR H2 HEADINGS */
/* BACKGROUND TO THE OPENING TIMES AND CONTACT INFO */
.fakeimg {
  background-color: rgba(138, 166, 163, .3);
  width: 100%;
  padding: 20px;
}

.scrollmenu tbody:hover {
  background-color: #E69C95;
}

/* video banner at bottom of page *
#video-banner {
  float: right;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ffffff;
}



/* photo under membership boxes */
.workout-banner {
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  border: 10px solid white;
}


.bottomside {
  width: 100%;
  display: inline-block;
  border: 10px solid white;
  margin-top: 10px;
  background-color: white;
}

/* email us form */
.feedbackform-photo img {
  max-height: 400px;
  float: left;
  margin: 10px 0 0 0;
  width: 50%;
  object-fit: cover;
 
}

.undervideo-box {
  padding: 10px;
  vertical-align: right;
  display: inline-block;
  margin: 0;
  width: 50%;
}
.undervideo-box, email {
  font-size: 18px;
}

#emailus-password {
  padding: 30px;
}

#commentbox {
  padding: 20px 20px 15px 20px;
}










.bottom-image-banner {
  margin: 10px 0 0 0;
  border: 10px solid white;
}

.bottom-image-banner, img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

/* video banner at bottom of page */
#video-banner {
  float: right;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ffffff;
}






/* TIMETABLE PAGE */
/* TIMETABLE TABLE LAYOUT */
table {
    border-spacing: 0px;
    width: 100%;
}
th, td {
    padding: 5px 5px 5px 5px;
    border-spacing: 0px;
    font-size: 100%;
    margin: 0px;
}
th, td {
    text-align: left;
    background-color: #bfbfbf;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
tr .head, th {
    color: #ffffff;
    background-color: #4c5958;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    text-align: center;
    letter-spacing: 0.13em;
}
td {
    color: #000000;
}
tr .even td, tr .even th {
    background-color: #e8eff5;
}
tr .head th:first-child {
    border-top-left-radius: 5px;
}
tr .head th:last-child {
    border-top-right-radius: 5px;
}

/* TIMETABLE PAGE - SCROLL BAR UNDER TABLE */
.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu table {
  text-align: center;
  padding-bottom: 14px;
  text-decoration: none;
  border-spacing: 0px;
  width: 100%;
  height: auto;
}

/* Close the Ridgefield Fitness h1 and p 'big' gap - Responsive layout - when the screen is less than 450px wide */
@media screen and (max-width: 900px) {
  .big h1 {
    font-size: 40px;
  }
  .big p {
    font-size: 18px;
  }
}
@media screen and (max-width: 548px) {
  .big h1 {
    font-size: 35px;
  }
  .big p {
    font-size: 17px;
  }
}
@media screen and (max-width: 502px) {
  .big h1 {
    font-size: 30px;
  }
  .big p {
    font-size: 15px;
  }
}
@media screen and (max-width: 443px) {
  .topnav .menu, ul li {
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 386px) {
  .topnav .menu, ul li {
    letter-spacing: 1px;
  }
}

/* GALLERY */
/* GALLERY */
.gallery {
  border: 10px solid white;
}
.gallery, img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  background-color: white;
}
.desc {
  padding: 20px 15px 10px 15px;
  text-align: center;
  font-size: large;
}
* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
@media only screen and (max-width: 4000px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 800px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.row-box:after {
  content: "";
  display: table;
  clear: both;
}


/* SIGN-UP PAGE */
/* PHOTO BANNER ON SIGN UP PAGE*/
.signin-banner {
  margin-top: 5px;
  padding: 5px;
  background-color: #f9f7f0;
}
/* TWO BOXES FOR SIGN-IN */

.free-banner {
  margin: 3px;
  padding-top: 0;
  background-color: 717171;
}

.free-banner-box {
  background-color: #f9f7f0;
  padding: 10px 0 0 0;
  font-size: large;
}






/* MEDIA QUERIES */
/* MEDIA QUERIES */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  #facilities, #equipment, #hours, #contactus, #membership-free, #membership-full, .undervideo-box {   
    width: 100%;
    padding: 0;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .feedbackform-photo img {   
    width: 100%;
    padding: 0;
    margin: 10px 0 10px 0;
  }
}

@media screen and (max-width: 800px) {
  .feedbackform-photo img {   
    width: 100%;
    padding: 0;
    margin: 10px 0 10px 0;
  }
}




/* GALLERY IMAGES ON TIMETABLE PAGE */
/* Responsive layout - make both boxes stay next to each other and not go into 4 photos on line */
@media only screen and (max-width: 4000px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
/* Responsive layout - when the screen is less than 800px wide, make the two photos stack on top of each other instead of next to each other */
@media only screen and (max-width: 800px) {
  .responsive {
    width: 100%;
  }
}




/* desktop min width above 1024px screen size */
/* desktop min width above 1024px screen size *
@media screen and (min-width: 1024px) {
  .big h1 {
    margin: auto;
  }
}

/* tablet min width above 768px and max width below 1023px */
/* tablet min width above 768px and max width below 1023px */


/* smartphone max width */
/* smartphone max width */
@media screen and (max-width: 907px) {
  .big h1 {
    font-size: 45.35px;
  }
}

@media screen and (max-width: 731px) {
  .big h1 {
    font-size: 40px;
  }
  .big p {
    margin: auto;
    font-size: 18px;
  }
}

@media screen and (max-width: 870px) {
  .topnav li {
    width: 25%;
    font-size: 16px;
    letter-spacing: 0;
  }
  #signup-pages-left {
    width: 100%;
  }
  #signup-pages-right {
    width: 100%;
  }
  #createaccount-box input {
    width: 100%;
    margin: auto;
  }
  #login-box input {
    width: 100%;
    margin: auto;
  }
}
/* carousel height */
@media screen and (max-width: 640px) {
  #myCarousel .carousel-inner .item, img {
    height: 25%;
  }
}
/* smartphone max width */
/* smartphone max width */
@media screen and (max-width: 580px) { /* heading and nav bar */
  .topnav li { 
    margin: auto;
    width: 100%;
    line-height: 40px;
    padding-bottom: 0;
    letter-spacing: 4px;
    border-bottom: 0.1px solid #000000;
  }
}



/* smartphone max width */
/* smartphone max width */
@media screen and (max-width: 562px) {
  .big h1 {
   font-size: 38px;
  }
  .big p {
    font-size: 16px;
  }
}

/* smartphone max width */
/* smartphone max width */
@media screen and (max-width: 528px) { /* heading and nav bar */
  .header {
    padding: 20.9px 50px 20.9px 50px;
  }
  .topnav a {
    font-size: 16px;
  }
  #signup-pages-left, h2 {
    font-size: 22px;
  }
  #signup-pages-left, p {
    font-size: 16px;
  }
  .accountform, .form-control {
    font-weight: 0;
    padding: 2px 0px 2px 0;
    letter-spacing: 2px;
  }
  label {
    padding: 5px 0 5px 0;
  }
}




/* smartphone max width */
/* smartphone max width */













footer {
  display: inline-block;
  padding: 3px;
  background-color:#8aa6a3;
  color: white;
}



.col-form-label {
  padding-top: 15px;
}
